.skill_container {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 2rem;
   margin-bottom: 100px;
}

/* #skills{ */
   /* margin-right:50%; */
/* } */

.skill_container>div {
   background: var(--color-bg-variant);
   padding: 2.4rem 5rem;
   border-radius: 2rem;
   border: 1px solid transparent;
   transition: var(--transition);
}

.skill_container>div:hover {
   background: transparent;
   /* border-color: var(--color-primary-variant); */
   background-color: black;
   cursor: default;
}

.skill_container>div h3 {
   text-align: center;
   margin-bottom: center;
   color: var(--color-primary);
}

.skill_content {
   display: grid;
   grid-template-columns: 1fr 1fr;
   row-gap: 2rem;
}

.skills-card {
   display: flex;
   gap: 1rem;
}

.skills-card-icon {
   margin-top: 6px;
   /* color: var(--color-primary); */
}

.text-light {
   color: black;
}

.text-dark {
   color: white;
}

.skills-card-img{
   width:57px;
   height: 55px;
   margin-bottom: 15px;
   background-image: none;
}

.skill-container{
   width: 120px;
   display: flex;
   flex-direction: column-reverse;
   justify-content: space-between;
   margin-top: 30px;
}




/* ================ MEDIA QUEERIES (MEDIUM DEVISES) ==============*/
@media screen and (max-width:1024px) {
   .skill_container {
      grid-template-columns: 1fr;
   }

   .skill_container>div {
      width: 100%;
      padding: 2rem;
      margin: 0 auto;
   }

   .skill_content {
      padding: 1rem;
   }

   .text-light {
      color: black;
   }

   .text-dark {
      color: white;
   }
}

/* ================ MEDIA QUEERIES (SMALL DEVISES) ==============*/
@media screen and (max-width:600px) {
   .skill_container {
      gap: 1rem;
   }

   .skill_container>div {
      width: 100%;
      padding: 2rem 1rem;
   }

   .text-light {
      color: black;
   }

   .text-dark {
      color: white;
   }
}