.about_container {
   display: grid;
   grid-template-columns: 35% 50%;
   /* gap: 15%; */
}

#user-detail-intro{
   color:gray;
   margin-bottom: 0px;
}

.about_me {

   border-radius: 2rem;
   display: grid;
   place-items: start;
   /* border: 1px solid red; */
}

.about_me-image {
   width: 14rem;
   height: 20rem;


   aspect-ratio: 1/1.4;
   border-radius: 2rem;
   overflow: hidden;
   /* transform: rotate(10deg); */
   transition: var(--transition);
   /* border: 1px solid red; */

}

.about_me-image img {
   width: 100%;
   /* border: 1px solid red; */
   height: 250px;
}

.about_me-image:hover {
   transform: rotate(0);
}

.about_cards {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1.5rem;
   /* border: 1px solid red; */
   color: white;
}

.about_card {
   background-color: var(--color-bg-variant);
   border: 1px solid transparent;
   border-radius: 1rem;
   padding: 2rem;
   text-align: center;
   transition: var(--transition);
   /* border: 1px solid red; */

}

.about_card:hover {
   background: black;
   cursor: default;
}

.about_icon {
   color: var(--color-primary);
   font-size: 1.4rem;
   margin-bottom: 1rem;

}

.about_card h5 {
   font-size: 0.95rem;
}

.about_card small {
   font-size: 0.7rem;
   color: var(--color-light);
}

.about_content p {
   margin: 2rem 0 2.6rem;
   color: var(--color-light);
}

.text-light {
   color: black;
}

.text-dark {
   color: white;
}

.text-light {
   color: black;
}

.text-dark {
   color: white;
}

#resume-button-2{
   border: 1px solid skyblue;
}

/* ================ MEDIA QUEERIES (MEDIUM DEVISES) ==============*/
@media screen and (max-width:1024px) {
   .about_container {
      grid-template-columns: 1fr;
      gap: 10%;
      padding-bottom: 15vh;

   }

   .about_me {
      width: 100%;
      margin: auto;
   }

   .about_me-image {
      width: 14rem;
      height: 20rem;
      margin: auto;
   }

   /* .about_content p {
      margin: 1rem auto 1.5rem;
   } */
}

/* ================ MEDIA QUEERIES (SMALL DEVISES) ==============*/
@media screen and (max-width:600px) {


   .about_me {
      width: 65%;
      margin: auto
   }

   .about_cards {
      grid-template-columns: 1fr 1fr;
      gap: 1rem
   }

   .about_content {
      text-align: center;
   }

   /* .about_content p {
      margin: 1.5rem 0;
   } */
}