.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1vh 4vh; */
    /* position: sticky; */
    top: 0;
    backdrop-filter: blur(15px);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    /* z-index: 2; */
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#nav-menu{
    background-color: #4DB5FF;
}

.navbar h2 {
    font-style: normal;
    /* font-family: ; */
    border-radius: 5px;
}

.hire {
    border: 1px solid var(--color-primary);
    padding: 3px;
    border-radius: 8px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */

}

.hire:hover {
    border: 1px solid black;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.theme-container {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dark {
    color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    align-items: center;
    padding: 1vh 4vh;
    position: sticky;
    top: 0;
    backdrop-filter: blur(15px);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    z-index: 2;
}

.light {
    color: black;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    align-items: center;
    padding: 1vh 4vh;
    position: sticky;
    top: 0;
    backdrop-filter: blur(15px);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    z-index: 2;
}

.resume {
    padding: 5px;
    /* color: black; */
    background-color: #4DB5FF;
    border-radius: 3px;
}

.resume:hover {
    padding: 5px;
    /* color: white; */
    border: 2px solid white;
}

.theme-change{
    cursor: pointer;
}


/* ================ MEDIA QUEERIES (MEDIUM DEVISES) ==============*/
@media screen and (min-width:481px)and (max-width:768px) {

    /* #nav{
        display: inline;
    } */
    #nav2 {
        display: none;
    }
    #hamburger{
        display: inline;
        background-color: #4DB5FF;
    }
}

/* ================ MEDIA QUEERIES (SMALL DEVISES) ==============*/
@media screen and (max-width:480px) {

     /* #nav{ 
     display: inline;
    }  */
    #nav2 {
        display: none;
    }
    #hamburger{
        display: inline;
        background-color: #4DB5FF;
    }
}

@media screen and (min-width:769px) {

    /* #nav{ */
    /* display: inline;
    } */
    /* #nav2 {
        display: inline;
    } */
    #hamburger{
        display: none;
    }
}